.container {
    padding-left: 2rem;
    padding-right: 2rem;
}

p {
    max-width: 60ch;
}

body.dark {
    --bg-color: #121212;
    --bg-secondary-color: #131316;
    --font-color: #f5f5f5;
    --color-grey: #ccc;
    --color-darkGrey: #777;
}

#swith {
    font-size: 150%;
}
.switch {margin-top: 1rem}

figure {
    float: right;
    width: 100%;
    text-indent: 0;
    border: thin silver solid;
    border-radius: 5px;
    margin: 0.2rem;
    padding: 0.2rem;
}

figcaption {
    margin: 0 auto;
    padding-top: .5em;
    font-size: small;
    text-align: center;
}

figure > img {
    background: #F1F1FA;
    height: auto;
    max-height: 320px;
    display: block;
    object-fit: cover;
    margin: 10px auto;
    border-radius: 5px
}

.book_li {
    font-size: 90%;
}

.book_desc {
    font-weight: lighter;
}

.first {
    color: red;}



